// Here you can add other styles
$body-bg: #F0F3F4;

body{
    background-color: $body-bg;

    &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url($mainBgUrl) no-repeat center center;
        background-size: cover;
        will-change: transform;
        z-index: 0;
    }
}

input {
    border-radius: $input-border-radius !important;
}

//remove yellow background for autocomplete in chrome

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: whitesmoke !important;
}

.fill-height{
    height: 100%;
}
.fill-width {
    width: 100%;
}
.nav nav-tabs {
    background-color: whitesmoke;
}

.flex-fill{
    flex: 1;
}

.mat-text-warn {
    color: #f8cb00;
}

.sign-out-icon {
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
    color: whitesmoke;
    cursor: pointer;

    &:hover{
        color: $brand-primary;
    }
}

.case-list-table {
    color: white;

    tr {
        &:hover {
            background-color: rgba(0,0,0,.1);
        }
    }
}

.case-detail-container {
    display: flex;

    .nav {
        flex-wrap: wrap;
    }

    .nav-tabs {
        border-bottom: 0;

        .nav-item {
            border-bottom: 1px solid white;
            margin-bottom: 15px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .nav-link.active {
            background-color: $brand-primary;
            color: white;
            border: 0;
        }

        .nav-link {
            color: whitesmoke;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &:hover {
                border: 0;
            }
        }

        .nav-item:hover {
            border: 1px solid white;

            .nav-link {
                color: $brand-primary;
            }
        }

        .nav-item.active {
            background-color: $brand-primary;
            color: white;
            border: 1px solid white;
            border-bottom: 0;

            &:hover {
                .nav-link {
                    color: white !important;
                }
            }
        }
    }

    .nav-item.active {
        border-bottom: 0;
    }

    .tab-content {
        background-color: transparent;
        border: 0;
    }
}

.justify-tabs {
    .nav {
        display: flex !important;
        justify-content: center !important;
    }
}

.modal-content {
    color: white;
    background-color: transparent;
    border: 1px solid rgba(207, 216, 220, 0.22);
    border-radius: 6px;

    .modal-header {
        .modal-title {
            font-size: 1.3em;
        }

        background-color: black;
        border-bottom: 1px solid rgba(207, 216, 220, 0.22);
    }

    button.close {
        color: white;
    }

    .card {
        margin-bottom: 0;
    }
}


.tab-container {
    @extend .fill-width;
    max-width: 100%;
}

.tab-content {
    max-width: 100%;
}

.add-new-button-container {
    margin-bottom: 15px;
    text-align: center;
}

.toast-success {
    background-color: $brand-primary !important;
}

.custom-control-input {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.custom-control-description {
    vertical-align: middle;
}

