    <div class="row" *ngIf="isHouseholdDataLoaded">
        <div class="col-md-12 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Family
                </div>
                <div class="card-block primary-info-view">
                    <div class="form-group">
                        <label>Any children deceased/miscarried/aborted?  :</label>
                        <span>{{ (childrenDeceasedLookupOptionsList | MatchesPipe:familyHouseHold.ChildrenDeceasedLookupId:"multiselect") }}</span>
                    </div>
                    <div class="form-group">
                        <label>Household income  :</label>
                        <span>{{ (incomeLookupOptionsList | MatchesPipe:familyHouseHold.HouseHoldIncomeLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Have you sought help for your issues before coming to My Choices?  :</label>
                        <span>{{ (yesNoOptionsList | MatchesPipe:familyHouseHold.SoughtHelpYesNoLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>If yes, please specify  :</label>
                        <span>{{ familyHouseHold.SoughtHelpDesc }}</span>
                    </div>
                    <div class="form-group">
                        <label>If yes, what was the outcome of that help?  :</label>
                        <span>{{ familyHouseHold.SoughtHelpOutPut }}</span>
                    </div>
                    <div class="form-group">
                        <label>If you would like Operation Peacemaker to assist you with your current domestic violence situation, please select the services you would make use of  :</label>
                        <span>{{ (peacemakerAssistanceOptionsList | MatchesPipe:familyHouseHold.PeacemakerAssistanceLookupId:"multiselect") }}</span>
                    </div>
                    <div class="form-group">
                        <label>If other, please specify  :</label>
                        <span>{{ familyHouseHold.PeacemakerAssistanceDesc }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isHouseholdDataLoaded">
        <div class="col-md-12 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Family (2)
                </div>
                <div class="card-block primary-info-view">
                    <div class="form-group">
                        <label>Would you like a Peacemaker to do follow up with you?  :</label>
                        <span>{{ (yesNoOptionsList | MatchesPipe:familyHouseHold.PeacemakerFollowupYesNoLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Did the client sign the registration form?  :</label>
                        <span>{{ (yesNoOptionsList | MatchesPipe:familyHouseHold.ClientSignedRegistrationFormYesNoLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Client's Email  :</label>
                        <span>{{ familyHouseHold.ClientEmailId }}</span>
                    </div>
                    <div class="form-group">
                        <label>Religion  :</label>
                        <span>{{ (religionOptionsList | MatchesPipe:familyHouseHold.ReligionLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Level of education  :</label>
                        <span>{{ (levelOfEducationOptionsList | MatchesPipe:familyHouseHold.LevelOfEducationLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Vocational skills  :</label>
                        <span>{{ (vocationalSkillsOptionsList | MatchesPipe:familyHouseHold.VocationalSkillsLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>If other Vocational skills, please specify  :</label>
                        <span>{{ familyHouseHold.VocationalSkillsDesc }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isHouseholdDataLoaded">
        <div class="col-md-12 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Family (3)
                </div>
                <div class="card-block primary-info-view">
                    <div class="form-group">
                        <label>Occupation  :</label>
                        <span>{{ (occupationOptionsList | MatchesPipe:familyHouseHold.OccupationLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>If self-employed or employed, please specify  :</label>
                        <span>{{ familyHouseHold.OccupationDesc }}</span>
                    </div>
                    <div class="form-group">
                        <label>Client Income  :</label>
                        <span>{{ (incomeLookupOptionsList | MatchesPipe:familyHouseHold.ClientIncomeLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Household members living in same house  :</label>
                        <span>{{ (householdMembersOptionsList | MatchesPipe:familyHouseHold.HouseHoldMembersLivingLookupId:"multiselect") }}</span>
                    </div>
                    <div class="form-group">
                        <label>Years of marriage  :</label>
                        <span>{{familyHouseHold.YearsOfMarriage }}</span>
                    </div>
                    <div class="form-group">
                        <label>At what age did client have her first child?  :</label>
                        <span>{{ familyHouseHold.ClientAgeAtFirstChild }}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
