<div class="row" *ngIf="caseBook" >
    <div class="d-flex flex-column fill-width">
        <div class="" style="position:relative; width:100%">
            <table class="table table-responsive" style="position:absolute; width:100%; color:whitesmoke">
                <thead class="thead-inverse">
                    <tr>
                        <th>Dress</th>
                        <th>Hygiene</th>
                        <th>BodyType</th>
                        <th>Expression</th>
                        <th>MotorActivity</th>
                        <th>Vocabulary</th>
                        <th>ImpulseControl</th>
                        <th>Speech</th>
                        <th>Behaviour</th>
                        <th>Content</th>
                        <th>FlowOfThought</th>
                        <th>Orientation</th>
                        <th>EstimatedIntellect</th>
                        <th>Attention</th>
                        <th>Insight</th>
                        <th>Judgement</th>
                        <th>Memory</th>
                        <th>Information</th>
                        <th>Abstraction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mental of caseBook.vMental; let i = index">
                        <td>{{mental.MentalDress}}</td>
                        <td>{{mental.MentalHygiene}}</td>
                        <td>{{mental.MentalBodyType}}</td>
                        <td>{{mental.MentalExpression}}</td>
                        <td>{{mental.MentalMotorActivity}}</td>
                        <td>{{mental.MentalVocabulary}}</td>
                        <td>{{mental.MentalImpulseControl}}</td>
                        <td>{{mental.MentalSpeech}}</td>
                        <td>{{mental.MentalBehaviour}}</td>
                        <td>{{mental.MentalContent}}</td>
                        <td>{{mental.MentalFlowOfThought}}</td>
                        <td>{{mental.MentalOrientation}}</td>
                        <td>{{mental.MentalEstimatedIntellect}}</td>
                        <td>{{mental.MentalAttention}}</td>
                        <td>{{mental.MentalInsight}}</td>
                        <td>{{mental.MentalJudgement}}</td>
                        <td>{{mental.MentalMemory}}</td>
                        <td>{{mental.MentalInformation}}</td>
                        <td>{{mental.MentalAbstraction}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>