<div class="row" *ngIf="isHealthDataLoaded">
        <div class="col-md-6 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Health
                </div>
                <div class="card-block primary-info-view">
                    <div class="form-group">
                        <label>Are you suffering from any major illness?  :</label>
                        <span>{{ (yesNoOptionsList | MatchesPipe:physicalHealthForm.SufferingFromAnyMajorIllnessLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>If yes, please specify?  :</label>
                        <span>{{ physicalHealthForm.SufferingFromAnyMajorIllnessDesc }}</span>
                    </div>
                    <div class="form-group">
                        <label>Do you have any diagnosed psychiatric illness?  :</label>
                        <span>{{ (yesNoOptionsList | MatchesPipe:physicalHealthForm.DiagnosedPsychiatricIllnessLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>If yes, please specify?  :</label>
                        <span>{{ physicalHealthForm.DiagnosedPsychiatricIllnessDesc }}</span>
                    </div>
                    <div class="form-group">
                        <label>How much do you sleep per night?  :</label>
                        <span>{{ (sleepPerNightLookupOptionsList | MatchesPipe:physicalHealthForm.SleepPerNightLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>How is your appetite?  :</label>
                        <span>{{ (appetiteLookupOptionsList | MatchesPipe:physicalHealthForm.AppetiteLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Do you exercise?  :</label>
                        <span>{{ (exerciseLookupOptionsList | MatchesPipe:physicalHealthForm.ExerciseLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Are you on any medication?  :</label>
                        <span>{{ (yesNoOptionsList | MatchesPipe:physicalHealthForm.AnyMedicationLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>If yes, what medication?  :</label>
                        <span>{{ physicalHealthForm.AnyMedicationDesc }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Health (1)
                </div>
                <div class="card-block primary-info-view">
                    <div class="form-group">
                        <label>Are you on any substance?  :</label>
                        <span>{{ (yesNoOptionsList | MatchesPipe:physicalHealthForm.AnySubstanceLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Please specify  :</label>
                        <span>{{ physicalHealthForm.AnySubstanceDesc }}</span>
                    </div>
                    <div class="form-group">
                        <label>Are you currently pregnant?  :</label>
                        <span>{{ (yesNoOptionsList | MatchesPipe:physicalHealthForm.CurrentlyPregnantLookup) }}</span>
                    </div>
                    <div class="form-group">
                        <label>If yes, give details  :</label>
                        <span>{{ physicalHealthForm.CurrentlyPregnantDesc }}</span>
                    </div>
                    <div class="form-group">
                        <label>What is the reason for seeking help?  :</label>
                        <span>{{ (reasonForSeekingHelpLookupOptionsList | MatchesPipe:physicalHealthForm.ReasonForSeekingHelpLookupId:"multiselect") }}</span>
                    </div>
                    <div class="form-group">
                        <label>If other, please specify  :</label>
                        <span>{{ physicalHealthForm.ReasonForSeekingHelpDesc }}</span>
                    </div>
                    <div class="form-group">
                        <label>Who is abusing you?  :</label>
                        <span>{{ (whoIsAbusingYouLookupOptionsList | MatchesPipe:physicalHealthForm.WhoIsAbusingYouLookupId:"multiselect") }}</span>
                    </div>
                    <div class="form-group">
                        <label>If others, please specify   :</label>
                        <span>{{ physicalHealthForm.WhoIsAbusingYouDesc }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
