    <div class="row" *ngIf="isPrimaryDataLoaded">
        <div class="col-md-6 d-flex flex-column">
            <div class="card flex-fill">
                <div class="card-header">
                    Primary Info
                </div>
                <div class="card-block info-view">
                    <div class="form-group">
                        <label>Center  :</label>
                        <span>{{ (centerOptionList | MatchesPipe:primaryForm.CenterId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Peace Maker  :</label>
                        <span>{{ (peaceMakerOptionsList | MatchesPipe:primaryForm.PeaceMakerId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Counselor  :</label>
                        <span>{{ (counselorOptionsList | MatchesPipe:primaryForm.CounselorId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>First Name  :</label>
                        <span>{{ primaryForm.ClientFirstName }}</span>
                    </div>
                    <div class="form-group">
                        <label>Last Name  :</label>
                        <span>{{ primaryForm.ClientLastName }}</span>
                    </div>
                    <div class="form-group">
                        <label>M.I.  :</label>
                        <span>{{ primaryForm.Mi }}</span>
                    </div>
                    <div class="form-group">
                        <label>Father / Husband Name  :</label>
                        <span>{{ primaryForm.FatherName }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <div class="card flex-fill">
                <div class="card-header">
                    Client Details
                </div>
                <div class="card-block info-view">
                    <div class="form-group">
                        <label>Mobile  :</label>
                        <span>{{ primaryForm.MobileNumber }}</span>
                    </div>
                    <div class="form-group">
                        <label>Gender  :</label>
                        <span>{{ (genderLookupOptionsList | MatchesPipe:primaryForm.GenderLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Client Age  :</label>
                        <span>{{ primaryForm.ClientAge }}</span>
                    </div>
                    <div class="form-group">
                        <label>Marital Status  :</label>
                        <span>{{ (maritalStatusLookupOptionsList | MatchesPipe:primaryForm.MaritalStatusLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Required Assistance  :</label>
                        <span>{{ (requireAssistanceLookupOptionsList | MatchesPipe:primaryForm.RequireAssistanceLookupId) }}</span>
                    </div>
                    <div class="form-group">
                        <label>Remarks  :</label>
                        <span>{{ primaryForm.Remarks }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row" *ngIf="caseBook">
        <div class="d-flex flex-column fill-width">
            <div class="table-responsive">
                <table class="table" style="color:whitesmoke">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Address</th>
                            <th>Area</th>
                            <th>City</th>
                            <th>State</th>
                            <th>PIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let address of caseBook.vAddresses; let i = index">
                            <td>{{address.Address}}</td>
                            <td>{{address.Area}}</td>
                            <td>{{address.City}}</td>
                            <td>{{address.State}}</td>
                            <td>{{address.PIN}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>