<div class="row" *ngIf="caseBook">
    <div class="d-flex flex-column fill-width">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr class="tr-heading">
                        <th>Date</th>
                        <th>Type</th>
                        <th>Duration (Min)</th>
                        <th>Next Session</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-data" *ngFor="let sessionLog of caseBook.vSessionLog">
                        <td class="date-style">{{sessionLog.CounselingDate | date: 'dd-MM-yyyy'}}</td>
                        <td>{{sessionLog.TypeOfCounselingDesc}}</td>
                        <td>{{sessionLog.DurationOfSessionMIn}}</td>
                        <td class="date-style">{{sessionLog.NextSessionScheduled | date: 'dd-MM-yyyy'}}</td>
                        <td>{{sessionLog.SessionNotes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>