select-dropdown > div {
    background-color: rgba(237, 243, 243, 0.95) !important;
    border-radius: 6px;
    border: none !important;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.25);
    color: black;

    .filter input {
        color: black !important;
        padding-left: 12px !important;
        background-color: rgba(0, 4, 3, 0.07) !important;
        border-radius: 6px !important;

        &:focus {
            border-color: #5fdfd1 !important;
        }
    }

    .selected {
        background-color: rgba(32, 158, 145, 0.16) !important;
    }

    .highlighted {
        background-color: $brand-primary !important;
    }

    .options {
        padding: 5px;
    }
}

ng-select {

    > div {
        border: none !important;
        background-color: $input-bg;
        border: 1px solid $input-bg;
        line-height: $input-line-height;
        padding: 0.20rem 0.5rem;
        border-radius: 16px;

        &:focus {
            color: #fff !important;
            outline: none !important;
            border: 1px solid #5fdfd1 !important;
        }
    }

    div .single > div.toggle:hover, > div > div.single > div.clear:hover {
        background-color: transparent !important;
    }
}
ng-select > div > div.single > div.placeholder {
    color: #DEDEEE !important;
}
