ss-multiselect-dropdown {
    border: 1px solid transparent !important;

    button {
        background-color: rgba(0, 0, 0, 0.15) !important;
        border-radius: 16px;
        color: white !important;
        white-space: normal !important;
        width: 100%;
        display: flex !important;
        justify-content: space-between;
        border-color: transparent !important;

        &::after {
            margin-top: 6px;
        }

        &:focus {
            border: 1px solid #5fdfd1 !important;
            border-color: #5fdfd1 !important;
            box-shadow: none !important;
        }
        /*.filter input {
            color: black !important;
            padding-left: 12px !important;
            background-color: rgba(0, 4, 3, 0.07) !important;
            border-radius: 6px !important;

            &:focus {
                border-color: #5fdfd1 !important;
            }
        }

        .selected {
            background-color: rgba(32, 158, 145, 0.16) !important;
        }

        .highlighted {
            background-color: $brand-primary !important;
        }

        .options {
            padding: 5px;
        }*/
    }

    ul {
        background-color: rgba(237, 243, 243, 0.95) !important;
        width: 100%;

        li {
            &:hover {
                background-color: #209e91 !important;
                color: black !important;
            }

            a {
                display: flex;

                input {
                    width: 17px;
                    height: 17px;
                    margin-top: 2px;
                    margin-right: 10px;
                }

                color: black;

                &:hover {
                    color: black !important;
                    text-decoration: none !important;
                }
            }
        }
    }
}

ng-select {
    :focus {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.15);
        border-color: #5fdfd1;
        outline: none;
    }

    > div {
        border: none !important;
        background-color: $input-bg;
        border: 1px solid $input-bg;
        line-height: $input-line-height;
        padding: 0.20rem 0.5rem;
        border-radius: 16px;
    }

    div .single > div.toggle:hover, > div > div.single > div.clear:hover {
        background-color: transparent !important;
    }
}
