<form [formGroup]="addCounselorForm" novalidate>
    <div class="form-group">
        <label for="firstname">First Name *</label>
        <input placeholder="First Name" id="firstname" class="form-control" formControlName="firstname" />
        <div>
            <small *ngIf="addCounselorForm.controls.firstname.hasError('required') && addCounselorForm.controls.firstname.touched" class="mat-text-warn">First Name is required.</small>
        </div>
    </div>

    <div class="form-group">
        <label for="lastname">Last Name *</label>
        <input placeholder="Last Name" id="lastname" class="form-control" formControlName="lastname" />
        <div>
            <small *ngIf="addCounselorForm.controls.lastname.hasError('required') && addCounselorForm.controls.lastname.touched" class="mat-text-warn">Last Name is required.</small>
        </div>
    </div>

    <div class="form-group">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" formControlName="isNewLogin" name="newLogin" [(ngModel)]="isNewLogin">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Create new user login</span>
        </label>
    </div>

    <div class="form-group" *ngIf="isNewLogin">
        <label for="email">Email *</label>
        <input placeholder="Email" id="email" class="form-control" formControlName="email" />
        <div>
            <small *ngIf="(addCounselorForm.controls.email.hasError('required') || addCounselorForm.controls.email.hasError('email')) && addCounselorForm.controls.email.touched" class="mat-text-warn">Please provide a valid email.</small>
        </div>
    </div>

    <div class="form-group" *ngIf="isNewLogin">
        <label for="roleId">Role *</label>
        <ng-select [options]="roles"
                   placeholder="Select role"
                   [allowClear]="true"
                   name="role"
                   id="roleId"
                   formControlName="role">
        </ng-select>
        <div>
            <small *ngIf="addCounselorForm.controls.role.hasError('required') && addCounselorForm.controls.role.touched" class="mat-text-warn">Role is required.</small>
        </div>
    </div>

    <div class="form-group">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" formControlName="isGlobal" [(ngModel)]="isGlobal" name="isGlobal">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Add counselor for all centers</span>
        </label>

    </div>
    <div class="form-group" *ngIf="!isGlobal">
        <label for="centerId">Center</label>
        <ng-select [options]="centers"
                   placeholder="Select center"
                   [allowClear]="true"
                   name="center"
                   id="centerId"
                   formControlName="center">
        </ng-select>
        <div>
            <small *ngIf="addCounselorForm.controls.center.hasError('required') && addCounselorForm.controls.center.touched" class="mat-text-warn">Center is required.</small>
        </div>
    </div>

    <div class="form-group" style="text-align: center">
        <button class="btn btn-primary" [disabled]="!addCounselorForm.valid" (click)="addNewUser()">Add counselor</button>
    </div>


</form>
