<my-spinner [isRunning]="!isDataLoaded"></my-spinner>
<div [hidden]="!isDataLoaded" class="container-fluid case-detail-container justify-tabs">
    <tabset>
        <tab heading="Add PeaceMaker" class="active" style="width:100%" *ngIf="isRolesLoaded && isCentersLoaded">
            <div class="row justify-content-center">
                <div class="col-md-4 d-flex flex-column" style="min-width: 450px">
                    <div class="card flex-fill">
                        <div class="card-header">
                            User details
                        </div>
                        <div class="card-block primary-info-view">
                            <create-peacemaker></create-peacemaker>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Add Counselor" style="width:100%" *ngIf="isRolesLoaded && isCentersLoaded">
            <div class="row justify-content-center">
                <div class="col-md-4 d-flex flex-column" style="min-width: 450px">
                    <div class="card">
                        <div class="card-header">
                            User details
                        </div>
                        <div class="card-block primary-info-view">
                            <create-counselor></create-counselor>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Deactivate User" style="width:100%" *ngIf="isRolesLoaded && isCentersLoaded">
            <div class="row justify-content-center">
                <div class="col-md-4 d-flex flex-column" style="min-width: 700px">
                    <div class="card">
                        <div class="card-header">
                            User details
                        </div>
                        <div class="card-block primary-info-view">
                            <deactivate-user (onDeactivateUserLoaded)="onDeactivateUserLoaded($event)"></deactivate-user>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>

