<select class="form-control" formControlName="breakdownTypes" (change)="loadCenterNewCasesChart($event.target.value)">
    <option *ngFor="let breakdown of breakdownTypes">{{breakdown.value}}</option>
</select><br /><br />
<div class="container" *ngIf="isCenterChartLoaded">
    <div>
        <chart [options]="centerOptions"></chart>
    </div>
</div>

<br />

<select class="form-control" formControlName="breakdownTypes" (change)="loadCounselorNewCasesChart($event.target.value)">
    <option *ngFor="let breakdown of breakdownTypes">{{breakdown.value}}</option>
</select><br /><br />
<div class="container" *ngIf="isCounselorChartLoaded">
    <div>
        <chart [options]="counselorOptions"></chart>
    </div>
</div>

<br />

<select class="form-control" formControlName="breakdownTypes" (change)="loadPeaceMakerNewCasesChart($event.target.value)">
    <option *ngFor="let breakdown of breakdownTypes">{{breakdown.value}}</option>
</select><br /><br />
<div class="container" *ngIf="isPeaceMakerChartLoaded">
    <div>
        <chart [options]="peacemakerOptions"></chart>
    </div>
</div>