<my-spinner [isRunning]="!isHouseHoldDataLoaded"></my-spinner>
<form [formGroup]="clientAndHouseholdForm">
    <div class="row">

        <div class="col-md-4 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Family
                </div>
                <div class="card-block">

                    <div class="form-group">
                        <label for="ChildrenDeceasedLookupId">Any children deceased/miscarried/aborted?</label>
                        <ss-multiselect-dropdown [options]="childrenDeceasedLookupOptionsList"
                                                 formControlName="ChildrenDeceasedLookupId"
                                                 [(ngModel)]="caseBook.FamilyHouseHold.ChildrenDeceasedLookupArray"
                                                 (ngModelChange)="disableItems($event)">

                        </ss-multiselect-dropdown>
                    </div>

                    <div class="form-group">
                        <label for="HouseHoldIncomeLookupId">Household income</label>
                        <ng-select [options]="incomeLookupOptionsList"
                                   placeholder="Select"
                                   formControlName="HouseHoldIncomeLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="SoughtHelpYesNoLookupId">Have you sought help for your issues before coming to My Choices?</label>
                        <ng-select [options]="yesNoOptionsList"
                                   placeholder="Select"
                                   formControlName="SoughtHelpYesNoLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="SoughtHelpDesc">If yes, please specify</label>
                        <input formControlName="SoughtHelpDesc" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="SoughtHelpOutPut">If yes, what was the outcome of that help?</label>
                        <input formControlName="SoughtHelpOutPut" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="PeacemakerAssistanceLookupId">If you would like Operation Peacemaker to assist you with your current domestic violence situation, please select the services you would make use of</label>
                        <ss-multiselect-dropdown [options]="peacemakerAssistanceOptionsList"
                                                 formControlName="PeacemakerAssistanceLookupId"
                                                 [(ngModel)]="caseBook.FamilyHouseHold.PeacemakerAssistanceLookupArray">

                        </ss-multiselect-dropdown>
                    </div>

                    <div class="form-group">
                        <label for="PeacemakerAssistanceDesc">If others, please specify</label>
                        <input formControlName="PeacemakerAssistanceDesc" class="form-control" />
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Family (2)
                </div>
                <div class="card-block">

                    <div class="form-group">
                        <label for="PeacemakerFollowupYesNoLookupId">Would you like a Peacemaker to do follow up with you?</label>
                        <ng-select [options]="yesNoOptionsList"
                                   placeholder="Select"
                                   formControlName="PeacemakerFollowupYesNoLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="ClientSignedRegistrationFormYesNoLookupId">Did the client sign the registration form?</label>
                        <ng-select [options]="yesNoOptionsList"
                                   placeholder="Select"
                                   formControlName="ClientSignedRegistrationFormYesNoLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="ClientEmailId">Client's Email</label>
                        <input type="email" id="ClientEmailId" formControlName="ClientEmailId" inputmode="email" class="form-control" />
                            <small *ngIf="clientAndHouseholdForm.controls.ClientEmailId.dirty && clientAndHouseholdForm.controls.ClientEmailId.invalid" class="mat-text-warn">
                                Please provide a valid email
                            </small>
                    </div>

                    <div class="form-group">
                        <label for="ReligionLookupId">Religion</label>
                        <ng-select [options]="religionOptionsList"
                                   placeholder="Select"
                                   formControlName="ReligionLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="LevelOfEducationLookupId">Level of education</label>
                        <ng-select [options]="levelOfEducationOptionsList"
                                   placeholder="Select"
                                   formControlName="LevelOfEducationLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="VocationalSkillsLookupId">Vocational skills</label>
                        <ng-select [options]="vocationalSkillsOptionsList"
                                   placeholder="Select"
                                   formControlName="VocationalSkillsLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="VocationalSkillsDesc">If other vocational skills, please specify</label>
                        <input formControlName="VocationalSkillsDesc" class="form-control" />
                    </div>


                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Family (3)
                </div>
                <div class="card-block">

                    <div class="form-group">
                        <label for="OccupationLookupId">Occupation</label>
                        <ng-select [options]="occupationOptionsList"
                                   placeholder="Select"
                                   formControlName="OccupationLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="OccupationDesc">If self-employed or employed, please specify</label>
                        <input formControlName="OccupationDesc" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="ClientIncomeLookupId">Client Income</label>
                        <ng-select [options]="incomeLookupOptionsList"
                                   placeholder="Select"
                                   formControlName="ClientIncomeLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="HouseHoldMembersLivingLookupId">Household members living in same house</label>
                        <ss-multiselect-dropdown [options]="householdMembersOptionsList"
                                                 formControlName="HouseHoldMembersLivingLookupId"
                                                 [(ngModel)]="caseBook.FamilyHouseHold.HouseHoldMembersLivingLookupArray">
                        </ss-multiselect-dropdown>
                    </div>

                    <div class="form-group">
                        <label for="YearsOfMarriage">Years of marriage</label>
                        <input formControlName="YearsOfMarriage" digits maxlength="2" class="form-control" />
                        <small *ngIf="clientAndHouseholdForm.controls.YearsOfMarriage.dirty && clientAndHouseholdForm.controls.YearsOfMarriage.invalid" class="mat-text-warn">
                            Please provide valid years of marriage
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="ClientAgeAtFirstChild">At what age did client have her first child?</label>
                        <input formControlName="ClientAgeAtFirstChild" digits maxlength="2" class="form-control" />
                        <small *ngIf="clientAndHouseholdForm.controls.ClientAgeAtFirstChild.dirty && clientAndHouseholdForm.controls.ClientAgeAtFirstChild.invalid" class="mat-text-warn">
                            Please provide a valid age
                        </small>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]="!clientAndHouseholdForm.valid" (click)="onUpdateHouseHoldInfo()">Update</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>