<my-spinner [isRunning]="!isLegalDataLoaded"></my-spinner>
<form [formGroup]="caseLegalForm">
    <div class="row">
        <div class="col-md-6 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Legal Data
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label for="CaseNumber">Case Number as per court</label>
                        <input formControlName="CaseNumber" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="Court">Court</label>
                        <input formControlName="Court" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="Prayer">Prayer</label>
                        <input formControlName="Prayer" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="LegalRepresentative">Name of legal representative</label>
                        <input formControlName="LegalRepresentative" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="LegalConsentFormLookupId">Has the legal consent form been signed and submitted?</label>
                        <ng-select [options]="yesNoOptionsList"
                                   placeholder="Select"
                                   formControlName="LegalConsentFormLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="LegalActionLookupId">Has any legal action been taken by the client in this regard prior to approaching OPM for help?</label>
                        <ng-select [options]="yesNoOptionsList"
                                   placeholder="Select"
                                   formControlName="LegalActionLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Outcome
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label for="OutcomeLookupId">Outcome</label>
                        <ss-multiselect-dropdown [options]="outcomeLookupOptionList"
                                                 formControlName="OutcomeLookupId"
                                                 [(ngModel)]="caseBook.Legal.OutcomeLookupArray">
                        </ss-multiselect-dropdown>
                    </div>

                    <div class="form-group">
                        <label for="DocumentsLookupId">List all documents that the client has submitted</label>
                        <ss-multiselect-dropdown [options]="documentsLookupOptionList"
                                                 formControlName="DocumentsLookupId"
                                                 [(ngModel)]="caseBook.Legal.DocumentsLookupArray">
                        </ss-multiselect-dropdown>

                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" (click)="onUpdateLegal()">Update</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>