<my-spinner [isRunning]="!isManageDataLoaded"></my-spinner>
<form [formGroup]="caseManageForm">
    <div class="row">
        <div class="col-md-6 d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    Case Data
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label for="ReferredToWhom">If Referred, please specify "Referred to whom"</label>
                        <input formControlName="ReferredToWhom" class="form-control" maxlength="2000" />
                    </div>

                    <div class="form-group">
                        <label for="SourceOfCaseLookupId">Source of case</label>
                        <ng-select [options]="sourceOfCaseLookupOptionList"
                                   placeholder="Select"
                                   formControlName="SourceOfCaseLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="SourceOfCaseDesc">If others, please specify</label>
                        <input formControlName="SourceOfCaseDesc" class="form-control" maxlength="2000" />
                    </div>

                    <div class="form-group">
                        <label for="TypesOfCounselingLookupId">Type of counseling</label>
                        <ss-multiselect-dropdown [options]="typesOfCounselingLookupOptionList"
                                                 formControlName="TypesOfCounselingLookupId"
                                                 [(ngModel)]="caseBook.Manage.TypesOfCounselingLookupArray">
                        </ss-multiselect-dropdown>
                    </div>

                    <div class="form-group">
                        <div class="form-group" [class.has-danger]="caseManageForm.controls.TotalNoOfSessionsLookupId.invalid && caseManageForm.controls.TotalNoOfSessionsLookupId.touched">
                            <label for="TotalNoOfSessionsLookupId">Total number of sessions</label>
                            <input type="number" id="TotalNoOfSessionsLookupId" formControlName="TotalNoOfSessionsLookupId" class="form-control" />
                            <small *ngIf="caseManageForm.controls.TotalNoOfSessionsLookupId.touched && caseManageForm.controls.TotalNoOfSessionsLookupId.invalid">
                                Value should be between 0 & 99 And Non-Fractional.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group" [class.has-danger]="caseManageForm.controls.TotalHoursSpentLookupId.invalid && caseManageForm.controls.TotalHoursSpentLookupId.touched">
                            <label for="TotalHoursSpentLookupId">Total hours spent</label>
                            <input type="number" id="TotalHoursSpentLookupId" formControlName="TotalHoursSpentLookupId" class="form-control" />
                            <small *ngIf="caseManageForm.controls.TotalHoursSpentLookupId.touched && caseManageForm.controls.TotalHoursSpentLookupId.invalid">
                                Value should be between 0 & 99 And two digit precision.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ReasonForClosureStatus">Reason for selected Closure status</label>
                        <input formControlName="ReasonForClosureStatus" class="form-control" maxlength="2000" />
                    </div>


                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex flex-column">

            <div class="card">
                <div class="card-header">
                    Other Info (1)
                </div>
                <div class="card-block">

                    <div class="form-group">
                        <label for="CaseSubject">Subject</label>
                        <input formControlName="CaseSubject" class="form-control" maxlength="2000" />
                    </div>

                    <div class="form-group">
                        <label for="CaseDescription">Description</label>
                        <textarea formControlName="CaseDescription" class="form-control" maxlength="2000"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="RelationshipWithPMLookupId">Relationship with PM</label>
                        <ng-select [options]="relationshipWithPMLookupOptionList"
                                   placeholder="Select"
                                   formControlName="RelationshipWithPMLookupId"
                                   [allowClear]="true">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label for="ResolutionLog">Case resolution log</label>
                        <input formControlName="ResolutionLog" class="form-control" maxlength="2000" />
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]="!caseManageForm.valid" (click)="onUpdateManage()">Update</button>
                    </div>
                </div>
            </div>

        </div>



    </div>
</form>