<div class="row" *ngIf="caseBook">
    <div class="d-flex flex-column fill-width">
        <div class="add-new-button-container">
            <button class="btn btn-primary" (click)="addNewOffender()">Add New Offender &nbsp;<i class="fa fa-plus"></i></button>
        </div>
        <div class="table-responsive">
            <table class="table" style="color:whitesmoke">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th>Age(In Years)</th>
                        <th>Gender</th>
                        <th>Relationship With Victim</th>
                        <th>OtherRelationship</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let offender of caseBook.vOffender; let i = index">
                        <td>{{offender.Name}}</td>
                        <td>{{offender.Age}}</td>
                        <td>{{offender.Gender}}</td>
                        <td>{{offender.RelationshipWithVictim}}</td>
                        <td>{{offender.OtherRelationship}}</td>
                        <td class="text-right">
                            <button class="btn btn-link" (click)="editOffender(offender)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #offenderModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Case Offender</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideOffenderModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="caseOffenderForm" *ngIf="caseOffenderForm">
                    <div class="row">
                        <div class="col-md-12 d-flex flex-column">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    Manage Offender Details
                                </div>
                                <div class="card-block">

                                    <div class="form-group">
                                        <label for="PeacemakerId">Name *</label>
                                        <textarea placeholder="Name" [formControl]="caseOffenderForm.controls['Name']" class="form-control"></textarea>
                                        <div>
                                            <small *ngIf="caseOffenderForm.controls['Name'].hasError('required') && caseOffenderForm.controls['Name'].touched" class="mat-text-warn">Name is required.</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="PeacemakerId">Age *</label>
                                        <div class="form-group" [class.has-danger]="caseOffenderForm.controls['Age'].invalid && caseOffenderForm.controls['Age'].touched">
                                            <input type="number" id="Age" [formControl]="caseOffenderForm.controls['Age']" class="form-control" />
                                            <small *ngIf="caseOffenderForm.controls['Age'].touched && caseOffenderForm.controls['Age'].invalid">
                                                Value should be between 0 and 99
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="PeacemakerId">Gender *</label>
                                        <ng-select [options]="genderLookupOptionsList"
                                                   placeholder="Select Gender"
                                                   [formControl]="caseOffenderForm.controls['GenderLookupId']"
                                                   [allowClear]="true">
                                        </ng-select>
                                        <div>
                                            <small *ngIf="caseOffenderForm.controls['GenderLookupId'].hasError('required') && caseOffenderForm.controls['GenderLookupId'].touched" class="mat-text-warn">Gender is required.</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="PeacemakerId">Relationship With Victim *</label>
                                        <ng-select [options]="relationshipWithVictimLookupOptionsList"
                                                   placeholder="Select Relationship"
                                                   [formControl]="caseOffenderForm.controls['RelationshipWithVictimLookupId']"
                                                   [allowClear]="true">
                                        </ng-select>
                                        <div>
                                            <small *ngIf="caseOffenderForm.controls['RelationshipWithVictimLookupId'].hasError('required') && caseOffenderForm.controls['RelationshipWithVictimLookupId'].touched" class="mat-text-warn">Relation is required.</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="PeacemakerId">If other, please specify</label>
                                        <textarea placeholder="Other Relationship" [formControl]="caseOffenderForm.controls['OtherRelationship']" class="form-control"></textarea>

                                    </div>

                                    <div class="form-group text-center">
                                        <button class="btn btn-primary" [disabled]="!caseOffenderForm.valid" (click)="saveOffender()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>