<my-spinner [isRunning]="!isPrimaryDataLoaded"></my-spinner>    
<form [formGroup]="casePrimaryForm">
    <div class="row">

        <div class="col-md-6 d-flex flex-column">
            <div class="card flex-fill">
                <div class="card-header">
                    Primary Info
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label for="CenterId">Center *</label>
                        <ng-select [options]="centerOptionList"
                                    placeholder="Select Center"
                                    formControlName="CenterId"
                                    (selected)="onCenterSelected($event)"
                                    (deselected)="onCenterDeselected()"
                                    [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.CenterId.hasError('required') && casePrimaryForm.controls.CenterId.touched" class="mat-text-warn">Center is required.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PeaceMakerId">Peace Maker *</label>
                        <ng-select [options]="peaceMakerOptionsList"
                                    placeholder="Select Peace Maker"
                                    formControlName="PeaceMakerId"
                                    [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.PeaceMakerId.hasError('required') && casePrimaryForm.controls.PeaceMakerId.touched" class="mat-text-warn">Peace Maker is required.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CounselorId">Counselor *</label>
                        <ng-select [options]="counselorOptionsList"
                                    placeholder="Select Counselor"
                                    formControlName="CounselorId"
                                    [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.CounselorId.hasError('required') && casePrimaryForm.controls.CounselorId.touched" class="mat-text-warn">Counselor is required.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="SourceOfCaseLookupId">Source of case *</label>
                        <ng-select [options]="sourceOfCaseLookupOptionList"
                                   placeholder="Select"
                                   formControlName="SourceOfCaseLookupId"
                                   [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.SourceOfCaseLookupId.hasError('required') && casePrimaryForm.controls.SourceOfCaseLookupId.touched" class="mat-text-warn">Source of case is required.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="SourceOfCaseDesc">If others, please specify</label>
                        <input formControlName="SourceOfCaseDesc" class="form-control" maxlength="2000" />
                    </div>

                    <div class="form-group">
                        <label for="ClientFirstName">First Name *</label>
                        <input placeholder="First Name" formControlName="ClientFirstName" [(ngModel)]="caseBook.Case.ClientFirstName" class="form-control" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.ClientFirstName.hasError('required') && casePrimaryForm.controls.ClientFirstName.touched" class="mat-text-warn">First Name is required.</small>
                            <small *ngIf="casePrimaryForm.controls.ClientFirstName.dirty && casePrimaryForm.controls.ClientFirstName.invalid" class="mat-text-warn">Please provide a valid First Name</small>                        
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientLastName">Last Name *</label>
                        <input placeholder="Last Name" formControlName="ClientLastName" [(ngModel)]="caseBook.Case.ClientLastName" class="form-control" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.ClientLastName.hasError('required') && casePrimaryForm.controls.ClientLastName.touched" class="mat-text-warn">Last Name is required.</small>
                            <small *ngIf="casePrimaryForm.controls.ClientLastName.dirty && casePrimaryForm.controls.ClientLastName.invalid" class="mat-text-warn">Please provide a valid Last Name</small>                        
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Mi">M.I.</label>
                        <input placeholder="Middle Initials" formControlName="Mi" [(ngModel)]="caseBook.Case.Mi" class="form-control" maxlength="2000" />
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex flex-column">
            <div class="card flex-fill">
                <div class="card-header">
                    Client Details
                </div>
                <div class="card-block">

                    <div class="form-group">
                        <label for="FatherName">Father / Husband Name *</label>
                        <input placeholder="Father / Husband Name" formControlName="FatherName" [(ngModel)]="caseBook.Case.FatherName" class="form-control" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.FatherName.hasError('required') && casePrimaryForm.controls.FatherName.touched" class="mat-text-warn">Father / Husband Name is required.</small>
                            <small *ngIf="casePrimaryForm.controls.FatherName.dirty && casePrimaryForm.controls.FatherName.invalid" class="mat-text-warn">Please provide a valid Father / Husband Name</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="MobileNumber">Mobile *</label>
                        <input placeholder="Mobile" formControlName="MobileNumber" class="form-control" digits maxlength="14" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.MobileNumber.hasError('required') && casePrimaryForm.controls.MobileNumber.touched" class="mat-text-warn">Mobile is required.</small>
                            <small *ngIf="casePrimaryForm.controls.MobileNumber.dirty && casePrimaryForm.controls.MobileNumber.invalid" class="mat-text-warn">Please provide a valid mobile number</small>
                       </div>
                    </div>

                    <div class="form-group">
                        <label for="GenderLookupId">Gender *</label>
                        <ng-select [options]="genderLookupOptionsList"
                                    placeholder="Select Gender"
                                    formControlName="GenderLookupId"
                                    [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.GenderLookupId.hasError('required') && casePrimaryForm.controls.GenderLookupId.touched" class="mat-text-warn">Gender is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ClientAge">Client Age *</label>
                        <div class="form-group" [class.has-danger]="casePrimaryForm.controls.ClientAge.invalid && casePrimaryForm.controls.ClientAge.touched">
                            <input type="number" placeholder="Age" formControlName="ClientAge" class="form-control"/>
                            <div>
                                <small *ngIf="casePrimaryForm.controls.ClientAge.hasError('required') && casePrimaryForm.controls.ClientAge.touched" class="mat-text-warn">Client age is required.</small>
                                <small *ngIf="casePrimaryForm.controls.ClientAge.dirty && casePrimaryForm.controls.ClientAge.invalid" class="mat-text-warn">Please provide a valid age</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MaritalStatusLookupId">Marital Status *</label>
                        <ng-select [options]="maritalStatusLookupOptionsList"
                                    placeholder="Select Marital Status"
                                    formControlName="MaritalStatusLookupId"
                                    [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.MaritalStatusLookupId.hasError('required') && casePrimaryForm.controls.MaritalStatusLookupId.touched" class="mat-text-warn">Marital Status is required.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="RequireAssistanceLookupId">Required Assistance *</label>
                        <ng-select [options]="requireAssistanceLookupOptionsList"
                                    placeholder="Required Assistance"
                                    formControlName="RequireAssistanceLookupId"
                                    [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.RequireAssistanceLookupId.hasError('required') && casePrimaryForm.controls.RequireAssistanceLookupId.touched" class="mat-text-warn">Require Assistance is required.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Remarks">Remarks</label>
                        <textarea placeholder="Remarks" formControlName="Remarks" class="form-control" maxlength="300"></textarea>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]="!casePrimaryForm.valid" (click)="onPrimayUpdate()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="row" *ngIf="caseBook">
    <div class="d-flex flex-column fill-width">
        <div class="add-new-button-container">
            <button class="btn btn-primary" (click)="addNewAddress()">Add New Address &nbsp;<i class="fa fa-plus"></i></button>
        </div>
        <div class="table-responsive">
            <table class="table tableColor">
                <thead class="thead-inverse">
                    <tr>
                        <th>Address</th>
                        <th>Area</th>
                        <th>City</th>
                        <th>State</th>
                        <th>PIN</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let address of caseBook.vAddresses; let i = index">
                        <td>{{address.Address}}</td>
                        <td>{{address.Area}}</td>
                        <td>{{address.City}}</td>
                        <td>{{address.State}}</td>
                        <td>{{address.PIN}}</td>
                        <td class="text-right">
                            <button class="btn btn-link" (click)="editAddress(address)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #addressModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Case Address</h4>
                <button type="button" class="close pull-right" label="Close" (click)="hideAddressModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="caseAddressForm" *ngIf="caseAddressForm">
                    <div class="row">
                        <div class="col-md-12 d-flex flex-column">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    Manage Address Details
                                </div>
                                <div class="card-block">

                                    <div class="form-group">
                                        <label for="Address">Address *</label>
                                        <textarea placeholder="Address" formControlName="Address" class="form-control" maxlength="300"></textarea>
                                        <div>
                                            <small *ngIf="caseAddressForm.controls.Address.hasError('required') && caseAddressForm.controls.Address.touched" class="mat-text-warn">Address is required.</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="PIN">PIN *</label>
                                        <div class="form-group" [class.has-danger]="caseAddressForm.controls.PIN.invalid && caseAddressForm.controls.PIN.touched">
                                            <input placeholder="PIN" formControlName="PIN" class="form-control" digits maxlength="6" />
                                            <div>
                                                <small *ngIf="caseAddressForm.controls.PIN.hasError('required') && caseAddressForm.controls.PIN.touched">PIN is required.</small>
                                                <small *ngIf="caseAddressForm.controls.PIN.dirty && caseAddressForm.controls.PIN.invalid">Please provide a valid PIN</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="StateId">State *</label>
                                        <ng-select [options]="stateOptionsList"
                                                   placeholder="Select State"
                                                   formControlName="StateId"
                                                   (selected)="onStateSelected($event)"
                                                   [allowClear]="true">
                                        </ng-select>
                                        <div>
                                            <small *ngIf="caseAddressForm.controls.StateId.hasError('required') && caseAddressForm.controls.StateId.touched" class="mat-text-warn">State is required.</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="CityId">City *</label>
                                        <ng-select [options]="cityOptionsList"
                                                   placeholder="Select"
                                                   formControlName="CityId"
                                                   [allowClear]="true">
                                        </ng-select>
                                        <div>
                                            <small *ngIf="caseAddressForm.controls.CityId.hasError('required') && caseAddressForm.controls.CityId.touched" class="mat-text-warn">City is required.</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Area">Area *</label>
                                        <input placeholder="Area" formControlName="Area" class="form-control" />
                                        <div>
                                            <small *ngIf="caseAddressForm.controls.Area.hasError('required') && caseAddressForm.controls.Area.touched" class="mat-text-warn">Area is required.</small>
                                        </div>
                                    </div>

                                    <div class="form-group text-center">
                                        <button class="btn btn-primary" [disabled]="!caseAddressForm.valid" (click)="saveAddress()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
