<header class="app-header navbar navbar-inverse">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>

        <li class="nav-item">
            
        </li>
    </ul>
    <span style="font-size: 2em; color: whitesmoke; margin-left: auto; padding-top: 5px" class="hidden-md-down">Peace Tracker</span>
    <i class="fa fa-2x fa-power-off sign-out-icon" (click)="onSignout()" tooltip="Sign out" placement="bottom"></i>
</header>
<div class="app-body d-flex">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']"><i class="icon-speedometer"></i><span> Dashboard</span></a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/cases/create']"><i class="icon-plus"></i><span>  New Case</span> </a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/cases/list']"><i class="icon-notebook"></i><span>  All Cases </span></a>
                    <a *ngIf="isUserAdmin" class="nav-link" routerLinkActive="active" [routerLink]="['/user/create']"><i class="icon-user"></i><span>  User Management </span></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>
<div (window:beforeunload)="clearLocalStorage()"></div>
<!--<footer class="app-footer">
    <a href="http://mychoicesfoundation.org">My Choices Foundation</a> &copy; 2017.
</footer>-->