.tableColor {
    color: whitesmoke;
}

.tab{
    width: 100%;
}

.tabBackground {
    background-color: rgba(10, 10, 10, 0.84);
    color: whitesmoke;
}

.nav nav-tabs {
    background-color: whitesmoke;
}