.tableColor {
    color: whitesmoke;
}

.mentalResponsive {
    position: absolute;
    width: 100%;
}

.mentalTab {
    position: relative;
    width: 100%;
}

.mentalTabData {
    margin-bottom: 10px;
}

.tab{
    width: 100%;
}

.tabBackground {
    background-color: rgba(10, 10, 10, 0.84);
    color: whitesmoke;
}

.nav nav-tabs {
    background-color: whitesmoke;
}