<my-spinner [isRunning]="!isDataLoaded"></my-spinner>
<form [formGroup]="casePrimaryForm" *ngIf="isDataLoaded">
    <div class="row">
        <div class="col-md-4 d-flex flex-column">
            <div class="card flex-fill">
                <div class="card-header">
                    Primary Info
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label for="CenterId">Center *</label>
                        <ng-select id="CenterId"
                                   [options]="centerOptionList"
                                   placeholder="Select Center"
                                   formControlName="CenterId"
                                   [(ngModel)]="caseBook.Case.CenterId"
                                   (selected)="onCenterSelected($event)"
                                   (deselected)="onCenterDeselected()"
                                   [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.CenterId.hasError('required') && casePrimaryForm.controls.CenterId.touched" class="mat-text-warn">Center is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PeaceMakerId">Peace Maker *</label>
                        <ng-select id="PeaceMakerId"
                                   [options]="peaceMakerOptionsList"
                                   placeholder="Select Peace Maker"
                                   [(ngModel)]="caseBook.Case.PeaceMakerId"
                                   formControlName="PeaceMakerId"
                                   [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.PeaceMakerId.hasError('required') && casePrimaryForm.controls.PeaceMakerId.touched" class="mat-text-warn">Peace Maker is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CounselorId">Counselor *</label>
                        <ng-select id="CounselorId"
                                   [options]="counselorOptionsList"
                                   placeholder="Select Peace Maker"
                                   [(ngModel)]="caseBook.Case.CounselorId"
                                   formControlName="CounselorId"
                                   [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.CounselorId.hasError('required') && casePrimaryForm.controls.CounselorId.touched" class="mat-text-warn">Counselor is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="FirstNameId">First Name *</label>
                        <input id="FirstNameId" placeholder="First Name" formControlName="ClientFirstName" [(ngModel)]="caseBook.Case.ClientFirstName" class="form-control" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.ClientFirstName.hasError('required') && casePrimaryForm.controls.ClientFirstName.touched" class="mat-text-warn">First Name is required.</small>
                            <small *ngIf="casePrimaryForm.controls.ClientFirstName.dirty && casePrimaryForm.controls.ClientFirstName.invalid" class="mat-text-warn">Please provide a valid First Name</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="LastNameId">Last Name *</label>
                        <input id="LastNameId" placeholder="Last Name" formControlName="ClientLastName" [(ngModel)]="caseBook.Case.ClientLastName" class="form-control" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.ClientLastName.hasError('required') && casePrimaryForm.controls.ClientLastName.touched" class="mat-text-warn">Last Name is required.</small>
                            <small *ngIf="casePrimaryForm.controls.ClientLastName.dirty && casePrimaryForm.controls.ClientLastName.invalid" class="mat-text-warn">Please provide a valid Last Name</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MiddleInitialId">M.I.</label>
                        <input id="MiddleInitialId" placeholder="Middle Initials" formControlName="Mi" [(ngModel)]="caseBook.Case.Mi" class="form-control" maxlength="2000" />
                    </div>
                    <div class="form-group">
                        <label for="FatherHusbandNameId">Father / Husband Name *</label>
                        <input id="FatherHusbandNameId" placeholder="Father / Husband Name" formControlName="FatherName" [(ngModel)]="caseBook.Case.FatherName" class="form-control" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.FatherName.hasError('required') && casePrimaryForm.controls.FatherName.touched" class="mat-text-warn">Father / Husband Name is required.</small>
                            <small *ngIf="casePrimaryForm.controls.FatherName.dirty && casePrimaryForm.controls.FatherName.invalid" class="mat-text-warn">Please provide a valid Father / Husband Name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column">
            <div class="card flex-fill">
                <div class="card-header">
                    Client Address Details
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label for="AddressId">Address *</label>
                        <textarea id="AddressId" placeholder="Address" formControlName="Address" class="form-control" [(ngModel)]="caseBook.SelectedAddress.Address" maxlength="300"></textarea>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.Address.hasError('required') && casePrimaryForm.controls.Address.touched" class="mat-text-warn">Address is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PinId">PIN *</label>
                        <input id="PinId" placeholder="PIN" formControlName="PIN"
                               class="form-control" [(ngModel)]="caseBook.SelectedAddress.PIN" digits maxlength="6" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.PIN.hasError('required') && casePrimaryForm.controls.PIN.touched" class="mat-text-warn">PIN is required.</small>
                            <small *ngIf="casePrimaryForm.controls.PIN.dirty && casePrimaryForm.controls.PIN.invalid" class="mat-text-warn">Please provide a valid PIN</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="StateId">State *</label>
                        <ng-select id="StateId"
                                   [options]="stateOptionsList"
                                   placeholder="Select State"
                                   formControlName="StateId"
                                   [(ngModel)]="caseBook.SelectedAddress.StateId"
                                   (selected)="onStateSelected($event)"
                                   (deselected)="onStateDeselected()"
                                   [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.StateId.hasError('required') && casePrimaryForm.controls.StateId.touched" class="mat-text-warn">State is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CityId">City *</label>
                        <ng-select id="CityId"
                                   [options]="cityOptionsList"
                                   placeholder="Select City"
                                   formControlName="CityId"
                                   [(ngModel)]="caseBook.SelectedAddress.CityId"
                                   [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.CityId.hasError('required') && casePrimaryForm.controls.CityId.touched" class="mat-text-warn">City is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AreaId">Area *</label>
                        <input id="AreaId" placeholder="Area" formControlName="Area" class="form-control" [(ngModel)]="caseBook.SelectedAddress.Area" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.Area.hasError('required') && casePrimaryForm.controls.Area.touched" class="mat-text-warn">Area is required.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column">
            <div class="card flex-fill">
                <div class="card-header">
                    Client Personal Details
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label for="MobileId">Mobile *</label>
                        <input id="MobileId" placeholder="Mobile" formControlName="MobileNumber"
                               class="form-control" [(ngModel)]="caseBook.Case.MobileNumber" digits maxlength="14" />
                        <div>
                            <small *ngIf="casePrimaryForm.controls.MobileNumber.hasError('required') && casePrimaryForm.controls.MobileNumber.touched" class="mat-text-warn">Mobile number is required.</small>
                            <small *ngIf="casePrimaryForm.controls.MobileNumber.dirty && casePrimaryForm.controls.MobileNumber.invalid" class="mat-text-warn">Please provide a valid mobile number</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="GenderId">Gender *</label>
                        <ng-select id="GenderId"
                                   [options]="genderLookupOptionsList"
                                   placeholder="Select Gender"
                                   [(ngModel)]="caseBook.Case.GenderLookupId"
                                   formControlName="GenderLookupId"
                                   [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.GenderLookupId.hasError('required') && casePrimaryForm.controls.GenderLookupId.touched" class="mat-text-warn">Gender is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MaritalStatusId">Marital Status *</label>
                        <ng-select id="MaritalStatusId"
                                   [options]="maritalStatusLookupOptionsList"
                                   placeholder="Select Marital Status"
                                   [(ngModel)]="caseBook.Case.MaritalStatusLookupId"
                                   formControlName="MaritalStatusLookupId"
                                   [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.MaritalStatusLookupId.hasError('required') && casePrimaryForm.controls.MaritalStatusLookupId.touched" class="mat-text-warn">Marital Status is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AssistanceId">Required Assistance *</label>
                        <ng-select id="AssistanceId"
                                   [options]="requireAssistanceLookupOptionsList"
                                   placeholder="Required Assistance"
                                   [(ngModel)]="caseBook.Case.RequireAssistanceLookupId"
                                   formControlName="RequireAssistanceLookupId"
                                   [allowClear]="true">
                        </ng-select>
                        <div>
                            <small *ngIf="casePrimaryForm.controls.RequireAssistanceLookupId.hasError('required') && casePrimaryForm.controls.RequireAssistanceLookupId.touched" class="mat-text-warn">Require Assistance is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RemarksId">Remarks</label>
                        <textarea id="RemarksId" placeholder="Remarks" [formControl]="casePrimaryForm.controls.Remarks" [(ngModel)]="caseBook.Case.Remarks" class="form-control" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]="!casePrimaryForm.valid" (click)="onCaseSave()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
