<my-spinner [isRunning]="!caseBook"></my-spinner>
<div class="table-responsive">
    <table class="table" *ngIf="caseBook">
        <thead>
            <tr class="tr-heading">
                <th>Case Number</th>
                <th>Client Name</th>
                <th>Status</th>
                <th>Center</th>
                <th>Register Date</th>
            </tr>
        </thead>
        <tr class="tr-data">
            <td>{{caseBook.CaseHeader.CaseNumber}}</td>
            <td>{{caseBook.CaseHeader.ClientName}}</td>
            <td>{{caseBook.CaseHeader.CaseStatus}}</td>
            <td>{{caseBook.CaseHeader.CenterTitle}}</td>
            <td>{{caseBook.CaseHeader.RegisterDateString}}</td>
        </tr>
    </table>
</div>

<div class="container-fluid case-detail-container" *ngIf="caseBook">
    <!-- regular tabs -->
    <tabset>
        <tab heading="Primary Info" class="active">
            <primary-info [(caseBook)]="caseBook"></primary-info>
        </tab>
        <tab heading="Children">
            <children [(caseBook)]="caseBook"></children>
        </tab>
        <tab heading="Client & Household">
            <household [(caseBook)]="caseBook"></household>
        </tab>
        <tab heading="Spouse">
            <spouse [(caseBook)]="caseBook"></spouse>
        </tab>
        <tab heading="Physical Health">
            <physical-health [(caseBook)]="caseBook"></physical-health>
        </tab>
        <tab heading="Offender">
            <offender [(caseBook)]="caseBook"></offender>
        </tab>
        <tab heading="Abuse">
            <abuse [(caseBook)]="caseBook"></abuse>
        </tab>
        <tab heading="Sessions">
            <sessions [(caseBook)]="caseBook"></sessions>
        </tab>
        <tab heading="Mental Status">
            <mental [(caseBook)]="caseBook"></mental>
        </tab>
        <tab heading="Feedback">
            <feedback [(caseBook)]="caseBook"></feedback>
        </tab>
        <tab heading="Legal">
            <legal [(caseBook)]="caseBook"></legal>
        </tab>
        <tab heading="Case Management">
            <case-management [(caseBook)]="caseBook"></case-management>
        </tab>
    </tabset>
</div>
