.primary-info-view{
    div{
        display: flex;
        label{
            flex: 0 1 32%;
            font-weight: 700;
        }
        span{
            flex: 0 1 68%;
        }
    }

}
.card-header {
    font-weight: 700;
    color: #38ccbc;
    font-size: 16px;
}