<style>
    .nav nav-tabs {
        background-color: whitesmoke;
    }
</style>

<table class="table" *ngIf="caseBook" style="padding:-30px">
    <thead>
        <tr style="background-color:rgba(10, 10, 10, 0.84); color:whitesmoke">
            <th>Case Number</th>
            <th>Client Name</th>
            <th>Status</th>
            <th>Center</th>
            <th>Register Date</th>
        </tr>
    </thead>
    <tr style="color:white">
        <td>{{caseBook.CaseHeader.CaseNumber}}</td>
        <td>{{caseBook.CaseHeader.ClientName}}</td>
        <td>{{caseBook.CaseHeader.CaseStatus}}</td>
        <td>{{caseBook.CaseHeader.CenterTitle}}</td>
        <td>{{caseBook.CaseHeader.RegisterDateString}}</td>
    </tr>
</table>

<div class="container case-detail-container" style="width:100%" *ngIf="casePrimaryForm">
    <!-- regular tabs -->  
    <tabset class="nav nav-tabs" style="width:100%">
        <tab title="Primary Info" class="active" style="width:100%">
            <form [formGroup]="casePrimaryForm" *ngIf="isPrimaryDataLoaded">
                <div class="col-md-4 d-flex flex-column">
                    <div class="card flex-fill">
                        <div class="card-header">
                            Primary Info
                        </div>
                        <div class="card-block">                            
                            <div class="form-group">
                                <label for="CenterId">Center *</label>
                                <ng-select [options]="centerOptionList"
                                           placeholder="Select Center"
                                           formControlName="CenterId"                                                                                      
                                           [allowClear]="true">
                                </ng-select>
                                <div>
                                    <small *ngIf="casePrimaryForm.controls['CenterId'].hasError('required') && casePrimaryForm.controls['CenterId'].touched" class="mat-text-warn">Center is required.</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="CenterId">Peace Maker *</label>
                                <ng-select [options]="peaceMakerOptionsList"
                                           placeholder="Select Peace Maker"
                                           formControlName="PeaceMakerId"
                                           [allowClear]="true">
                                </ng-select>
                                <div>
                                    <small *ngIf="casePrimaryForm.controls['PeaceMakerId'].hasError('required') && casePrimaryForm.controls['PeaceMakerId'].touched" class="mat-text-warn">Peace Maker is required.</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="CenterId">Counselor *</label>
                                <ng-select [options]="counselorOptionsList"
                                           placeholder="Select Peace Maker"
                                           formControlName="CounselorId"
                                           [allowClear]="true">
                                </ng-select>
                                <div>
                                    <small *ngIf="casePrimaryForm.controls['CounselorId'].hasError('required') && casePrimaryForm.controls['CounselorId'].touched" class="mat-text-warn">Peace Maker is required.</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PeacemakerId">First Name *</label>
                                <input placeholder="First Name" [formControl]="casePrimaryForm.controls['ClientFirstName']" [(ngModel)]="caseBook.Case.ClientFirstName" class="form-control" />
                                <div>
                                    <small *ngIf="casePrimaryForm.controls['ClientFirstName'].hasError('required') && casePrimaryForm.controls['ClientFirstName'].touched" class="mat-text-warn">First Name is required.</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PeacemakerId">Last Name *</label>
                                <input placeholder="Last Name" [formControl]="casePrimaryForm.controls['ClientLastName']" [(ngModel)]="caseBook.Case.ClientLastName" class="form-control" />
                                <div>
                                    <small *ngIf="casePrimaryForm.controls['ClientLastName'].hasError('required') && casePrimaryForm.controls['ClientLastName'].touched" class="mat-text-warn">Last Name is required.</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PeacemakerId">M.I.</label>
                                <textarea placeholder="Middle Initials" [formControl]="casePrimaryForm.controls['Mi']" [(ngModel)]="caseBook.Case.Mi" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="PeacemakerId">Father / Husband Name *</label>
                                <input placeholder="Father / Husband Name" [formControl]="casePrimaryForm.controls['FatherName']" [(ngModel)]="caseBook.Case.FatherName" class="form-control" />
                                <div>
                                    <small *ngIf="casePrimaryForm.controls['FatherName'].hasError('required') && casePrimaryForm.controls['FatherName'].touched" class="mat-text-warn">Father / Husband Name is required.</small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </form>
        </tab>


    </tabset>


</div>

